* {
    font-family: "SUSE", sans-serif;
}

.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

h1 {
    font-size: 64px;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 32px;
}

h1, h2, h3 {
    color: #1d3557;
    text-align: center;
}

a {
    text-decoration: none;
    margin-top: 50px;
    padding: 25px;
    font-size: 28px;
    color: black;
    transition: 0.5s all;
}

a:hover {
    color: #1d3557;
    font-weight: bold;
}

thead th {
    background-color: #1d3557;
    color: #ffffff;
    padding: 10px;
}

tbody tr:hover td {
    background-color: #1d3557;
}

tbody tr td {
    padding: 20px;
    font-weight: bold;
}

tbody tr:hover {
    color: #ffffff;
}

tbody tr:nth-child(even) {
    background-color: #a8dadc;
}

tbody tr:nth-child(odd) {
    background-color: #77abbd;
}

.agregar {
    margin-top: 50px;
    padding: 25px;
    font-size: 28px;
    color: black;
    transition: 0.5s all;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

#input__tarea {
    padding: 10px;
    font-size: 18px;
}


#agregartarea {
    padding: 10px 25px;
    font-size: 18px;
    font-weight: bold;
    background-color: #1d3557;
    color: #ffffff;
    border: none;
    cursor: pointer;
    transition: 0.5s all;
}

#agregartarea:hover {
    background-color: #457b9d;
}

.tareas {
    display: flex;
    justify-content: center;
}

.completed {
    transform: scale(1.3);
}

#borrartodo {
    padding: 10px 45px;
    font-size: 18px;
    font-weight: bold;
    background-color: #1d3557;
    color: #ffffff;
    border: none;
    cursor: pointer;
    transition: 0.5s all;
}

#borrartodo:hover {
    background-color: #457b9d;
}

.borrar {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.alerta {
    background-color: crimson;
    color: white;
    padding: 10px;
    text-align: center;
    margin-bottom: 50px;
}

.tachado {
    text-decoration: line-through;
}

:root {
    --azulMarino: #1d3557;
    --blanco: #f1faee;
}

.contenedor-btn {
    display: flex;
    justify-content: center;
    margin: 10px 0 60px 0;
}

.boton-home {
    background-color: var(--azulMarino);
    color: var(--blanco);
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    border: 3px solid var(--blanco);
    transition: .4s all;
    font-family: "SUSE", sans-serif;
    text-decoration: none;
}

.boton-home:hover {
    background-color: var(--blanco);
    color: var(--azulMarino);
}